{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BhuiyanTrad</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'backend/assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'backend/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Data tables -->
    <link rel="stylesheet" type="text/css" href="{% static 'backend/extra-libs/multicheck/multicheck.css' %}" />
    <link href="{% static 'backend/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet" />


    <!-- Vendor CSS Files -->
    <link href="{% static 'backend/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'backend/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'backend/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'backend/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'backend/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'backend/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'backend/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'backend/assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

    {% include './header.html' %} {% include './sidebar.html' %} {% block content %} {% endblock %} {% include './footer.html' %}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'backend/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'backend/assets/vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'backend/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'backend/assets/vendor/tinymce/tinymce.min.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'backend/assets/js/main.js' %}"></script>

    <script src="{% static 'backend/libs/jquery/dist/jquery.min.js' %}"></script>

    <script src="{% static 'backend/extra-libs/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'backend/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
    <script src="{% static 'backend/extra-libs/DataTables/datatables.min.js' %}"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $("#zero_config").DataTable();
    </script>

</body>

</html>