{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        {% url 'backend:dashboard' as url %}
        <li class="nav-item">
            <a class="nav-link collapsed {% if request.path == url %}text-primary{% endif %}" href="{% url 'backend:dashboard' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                {% url 'backend:add-category' as url %}
                <li class="">
                    <a href=" {% url 'backend:add-category' %} ">
                        <i class="bi bi-circle "></i><span class="{% if request.path == url %}text-primary{% endif %} ">Add Category</span>
                    </a>
                </li>
                {% url 'backend:add-product' as url %}
                <li class="">
                    <a href=" {% url 'backend:add-product' %} ">
                        <i class="bi bi-circle "></i><span class="{% if request.path == url %}text-primary{% endif %} ">Add Product</span>
                    </a>
                </li>
                {% url 'backend:categories' as url %}
                <li class="">
                    <a href=" {% url 'backend:categories' %} ">
                        <i class="bi bi-circle "></i><span class="{% if request.path == url %}text-primary{% endif %} ">Categories</span>
                    </a>
                </li>
                {% url 'backend:products' as url %}
                <li class="">
                    <a href=" {% url 'backend:products' %} ">
                        <i class="bi bi-circle "></i><span class="{% if request.path == url %}text-primary{% endif %} ">Products</span>
                    </a>
                </li>
            </ul>
        </li>
        {% url 'backend:customers' as url %}
        <li class="nav-item">
            <a class="nav-link collapsed {% if request.path == url %}text-primary{% endif %}" href="{% url 'backend:customers' %}">
                <i class="bi bi-person-lines-fill"></i>
                <span>Customer Order</span>
            </a>
        </li>
        {% url 'backend:site-settings' as url %}
        <li class="nav-item">
            <a class="nav-link collapsed {% if request.path == url %}text-primary{% endif %}" href="{% url 'backend:site-settings' %}">
                <i class="bi bi-gear-wide-connected"></i>
                <span>Site Settings</span>
            </a>
        </li>
        {% url 'backend:about' as url %}
        <li class="nav-item">
            <a class="nav-link collapsed {% if request.path == url %}text-primary{% endif %}" href="{% url 'backend:about' %}">
                <i class="ri-message-3-fill"></i>
                <span>About Us</span>
            </a>
        </li>

    </ul>

</aside>
<!-- End Sidebar-->