<header id="header" class="fixed-top" style="background: rgba(0,0,0,0.5);">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto">
            <a class="logo me-auto" href="{% 'frontend:home' %}">
                <img src="{{settings.site_logo.url}}" class="img-fluid" />
            </a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero"><strong>Home</strong></a></li>
                <li><a class="nav-link scrollto" href="#about"><strong>About Us</strong></a></li>
                <li><a class="nav-link scrollto" href="#services"><strong>Latest News</strong></a></li>
                <li><a class="nav-link scrollto" href="#contact"><strong>Contact Us</strong></a></li>
                <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
    </div>
</header>