{% extends '../asset/base.html' %} {% load static %} {% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Site Settings</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'backend:dashboard' %}">Site Settings</a></li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            {% for error in errors %}
            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %} {% for message in messages %}
            <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Update Settings</h5>

                        <!-- Vertical Form -->
                        <form class="row g-3" method="POST" enctype="multipart/form-data" action="{% url 'backend:site-settings' %}">
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Site Title</label>
                                <input type="text" name="title" required class="form-control" value="{{settings.title}}" id="inputNanme4">
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Phone</label>
                                <input type="number" name="phone" required class="form-control" value="{{settings.phone}}" id="inputNanme4">
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Email</label>
                                <input type="email" name="email" required class="form-control" value="{{settings.email}}" id="inputNanme4">
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Address</label>
                                <textarea name="address" class="form-control" rows="4" placeholder="Product product">{{settings.address}}</textarea>
                            </div>
                            <div class="col-12">
                                {% if settings.site_logo.url != "" %}
                                <img src="{{settings.site_logo.url}}" style="height: 130px;" class="img-fluid m-3" /><br> {% endif %}
                                <label for="inputEmail4" class="form-label">Site Logo</label>
                                <input type="file" name="site_logo" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-12">
                                {% if settings.her_image.url != "" %}
                                <img src="{{settings.hero_image.url}}" style="height: 130px;" class="img-fluid m-3" /><br> {% endif %}
                                <label for="inputEmail4" class="form-label">Hero Image</label>
                                <input type="file" name="hero_image" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Who we are</label>
                                <textarea name="who_we" class="form-control" rows="4" placeholder="">{{settings.who_we}}</textarea>
                            </div>
                            <div class="col-12">
                                <img src="{{settings.who_we_image.url}}" style="height: 130px;" class="img-fluid m-3" /><br>
                                <label for="inputEmail4" class="form-label">Who we are</label>
                                <input type="file" name="who_we_image" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Future Focused</label>
                                <textarea name="future_focused" class="form-control" rows="4" placeholder="">{{settings.future_focused}}</textarea>
                            </div>
                            <div class="col-12">
                                <img src="{{settings.future_forused_img.url}}" style="height: 130px;" class="img-fluid m-3" /><br>
                                <label for="inputEmail4" class="form-label">Future Focused</label>
                                <input type="file" name="future_forused_img" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">About us</label>
                                <textarea name="about_us" class="form-control" rows="4" placeholder="Product product">{{settings.about_us}}</textarea>
                            </div>
                            <div class="col-12">
                                <img src="{{settings.about_us_img.url}}" style="height: 130px;" class="img-fluid m-3" /><br>
                                <label for="inputEmail4" class="form-label">About us imge</label>
                                <input type="file" name="about_us_img" class="form-control" id="inputEmail4">
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-success m-1">Update</button>
                            </div>
                        </form>
                        <!-- Vertical Form -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
<!-- End #main -->
{% endblock %}