{% extends 'asset2/base.html' %} {% load static %} {% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="{% url 'frontend:home' %}">Home</a></li>
                <li>Subcategory</li>
                <li>Product</li>
            </ol>
            <h2>Product Details</h2>

        </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="container-fluid p-5" style="  margin-top: 10px;">
        <div class="single_product">
            <div class="row">
                <div class="col-12 col-md-6 d-flex flex-column">
                    <div class="main_image">
                        <img src="{{product.featureimage.url}}" width="80%" alt="single_product">
                    </div>
                    <div class="included_images">
                        <div class="swiper" style="margin-top: 50px;">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                {% for item in galleryImage %}
                                <div class="swiper-slide">
                                    <div class="images">
                                        <img src="{{item.image.url}}" width="120px" alt="single_product">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                            <!-- If we need scrollbar -->
                            <div class="swiper-scrollbar"></div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 mt-5 mt-md-0 p_description">
                    <div class="single_product_description" width="100%">
                        <h2>
                            {{product.name}}
                        </h2>
                        <p>Price: $ <span style="font-size: 29px; color:red;font-weight:bold;">{{product.price}}</span>/unit</p>
                        <li>
                            {{product.shortdesc}}
                        </li>
                        <div class="faq mt-4">
                            <div class="question" id="faq">
                                <h4 class="faq-page" style="cursor: pointer; color:#444;padding:30px 20px; border:none; outline:none; transition:0.5s; margin:auto;">Why should i buy your products? Convnnce me</h4>
                                <!-- faq answer -->
                                <div class="faq-body" style="margin: auto; width:100%; padding:auto;">
                                    <p id="description">* {{product.productdesc}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="mtbtn text-center">
                            <button class="btn btn-danger"><a href="{% url 'frontend:contact' %}" style="font-size: 22px; font-weight: 700; color: white;">Contact to purchase</a></button>
                        </div>
                        <div class="pages d-flex justify-content-around mt-5 p-3 bg-light" width="90%">
                            <div class="contact_page">
                                <a href="{% url 'frontend:contact' %}">
                                    <h4><i class="fa-solid fa-less-than me-2"></i>Contact Page</h4>
                                </a>
                            </div>
                            <div class="category_page">
                                <a href="#">
                                    <h4>Category page <i class="fa-solid fa-greater-than ms-2"></i></h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




</main>
{% endblock %}